* {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-weight: 700;
}

body {
    background-color: #222629;
}

.nav-brand-container {
    margin-top: 6px;
}

.nav-brand {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 28px;
    padding-left: 50px;
}

.nav-brand:hover {
    color: #618930;
    font-size: 28px;
    font-weight: 900;
}
.nav-menu-list {
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    margin-top: 15px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.nav-bar a:hover {
    color: #618930;
}

.menu-tag {
    color: #618930;
}

.landing-container {
    background-color: #618930;
    color: white;
}

.intro-container {
    padding-top: 50px;
    padding-bottom: 40px;
}

.learn-more {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
}

.learn-more:hover {
    color: white;
    font-weight: 700;
}

.landing-img {
    padding-top: 5px;
}

.intro-detail {
    font-style: italic;
}

.landing-cards {
    background-color: #222629;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .card-header, .card-footer {
    background-color: #618930;
} */

.card-footer .learn-more:hover {
    color: #87C232;
}